body {
    background-color: pink;
}

table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
}

td,
th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
}

tr:nth-child(even) {
    background-color: #dddddd;
}

.top-side {
    display: flex;
    justify-content: flex-end;
    margin-bottom: 10px;
}

#song-list-div {
    position: relative;
}

#song-list-div .add-button {
    margin-right: 10px;
}

/*bruce start*/
.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #f5f5f5;
    padding: 20px;
    box-shadow: 0px 2px 10px 0px rgba(0, 0, 0, 0.1);
}
#logo {
    height: 50px;
}
.header div {
    display: flex;
    align-items: center;
}
.header input, .header button {
    margin-left: 10px;
}
#userDisplay {
    display: none;
}
#usernameDisplay {
    margin-right: 10px;
}
/*bruce end*/
